<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>NeoVim</string>

        <key>CFBundleDisplayName</key>
        <string>NeoVim</string>

        <key>CFBundleIdentifier</key>
        <string>uk.foon.NeoVim</string>

        <key>CFBundleVersion</key>
        <string>0.0.1</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>CFBundleExecutable</key>
        <string>NeoVim</string>

        <key>LSMinimumSystemVersion</key>
        <string>10.5</string>

        <key>NSHighResolutionCapable</key>
        <true/>

        <key>CFBundleIconFile</key>
        <string>NeoVim</string>

    </dict>
</plist>
